{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es2020": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "no-continue": 0,
    "max-len": 0,
    "no-restricted-syntax": 0
  }
}
